.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

#right {
  flex: 1;
}
#left {
  margin-top: -30px;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

#description-form {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
#logo {
  width: 250px;
  height: 200px;
}

form {
  margin-top: 2rem;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  flex: 1;
  height: 55px;
  padding: 0 20px;
  background: #fff;
  border: 0;
  font-size: 1rem;
  color: #444;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

button {
  height: 55px;
  padding: 0 20px;
  margin-left: 0.8rem;
  background: #000;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
button:hover {
  background: #474747;
  box-shadow: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}
li {
  clear: both;
  margin-top: 20px;
  text-decoration: none;
}
li img {
  width: 80px;
  float: left;
  margin-right: 10px;
}
strong {
  font-size: 20px;
}
#details {
  width: 50%;
  margin-left: 6rem;
}
#details p {
  margin: 0;
}

#details a {
  height: 55px;
  padding: 0 20px;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  background: #000;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
